


/* Standard-setup */


@import url(https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;700&display=swap);

*{
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Anek Devanagari', sans-serif;
}



/*Filter-modal*/

.columnFilter__filterBtn {
    position: relative;
}

.filterModal {
    border: 0.5px solid rgb(173, 173, 173) !important;
    padding: 5px !important;
    position: absolute !important;
    background-color: #d0cb91 !important;
    margin-left: -75px !important;
    margin-top: 0 !important;
    z-index: 2 !important;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    width: 130px;


}

.filterModalInput {
    width: 85px;
    height: 25px;
    font-size: 14px;
    border-radius: 4px;
    border: 0.5px solid rgb(173, 173, 173) !important;
}

.closeFilterModal {
    padding-right: 2px;
    padding-top: 2px;
    font-size: 15px;
}

.closeFilterModal:hover {
    color:rgb(255, 255, 255);
}

.transparentBg {
    background: transparent !important;
    z-index: 1 !important;
    position: absolute !important;
    height: 1500px;
    width: 10000px;
    left: -1000px !important;
    right: 0px !important;
    top: -500px !important;
    bottom: 0 !important;
}

/*Header-buttons*/



.theadBtn {
    border: none;
    background-color: transparent;
    /* margin-bottom: 10px; */
    font-size: 12px;
    padding: 0 2px 4px;
}

.theadBtn:hover {
    color:rgb(255, 255, 255);
}

.columnFilter__filterBtn {
    padding-bottom: 5px;
}

/*Tabel generelt*/

table {
    width: 100%;
}

.topRow {
  background-color: cornflowerblue; 
  position: sticky;
  top: 0;
  padding: 20px;
  width: 100%;

 
}

.topRow tr{
    width: 100%;
}

thead th {
    padding: 10px 15px 0 12px;

}

thead th:hover {
    background-color: #d0cb91;
}

thead {
    position: sticky;
    top: 0;
    padding-top: 20px;
}

thead tr {
    /* position: sticky;
    top: 0;
    padding-top: 20px; */
    background-color: #e8e2a1;
    border: 1px solid rgb(192, 192, 192);
    /* border-top: 1px solid rgb(183, 183, 183); */

}

.columnThDiv {
    padding: 0;
}

/*Table body*/

tbody tr {
    border: 1px solid rgb(221, 221, 221);
    
    background-color: #ffffff;
    
}

tbody tr:hover {
    background-color: rgb(220, 245, 232);
}

tbody td {
    padding: 15px 10px;
    font-size: 15px;
}



/* tbody {
    margin-top: 150px !important;
    
} */


thead tr th:nth-child(1) div button {
    display: none;
}

thead tr th:nth-child(3) div button {
    display: none;
}


/*columnTH*/



.columnThDiv {
    display: flex;
    justify-content: left;
    padding-right: -8px;
}

.columnThDiv__headerText {
 font-size: 14px;
}

.expandedTr {
    background-color: aquamarine;
}









@media screen and (max-width: 1350px) {
    thead th {
        padding: 6px 10px 0 8px;
    
    }

    .columnThDiv__headerText {
        font-size: 12px;
    }

    tbody td {
        padding: 12px 8px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1150px) {
    thead th {
        padding: 4px 8px 0 6px;
    
    }

    .columnThDiv__headerText {
        font-size: 11px;
    }

    tbody td {
        padding: 10px 6px;
        font-size: 11px;
    }
}

@media screen and (max-width: 1050px) {
    thead th {
        padding: 2px 4px 0 4px;
        
    
    }

    .columnThDiv__headerText {
        font-size: 11px;
    }

    tbody td {
        padding: 5px 3px;
        font-size: 11px;
        
    }
}



