
/* Her følger en quick'n'dirty css-styling af komponentet */
/* Skal dette helt eller delvist omsættes til et andet format? */

/* Standard-setup */


@import url(https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;700&display=swap);

*{
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Anek Devanagari', sans-serif;
}



/*Filter-modal*/

.columnFilter__filterBtn {
    position: relative;
}

.filterModal {
    border: 0.5px solid rgb(158, 158, 158) !important;
    padding: 10px !important;
    position: absolute !important;
    background-color: #ebebeb !important;
    margin-left: -75px !important;
    margin-top: 10px !important;
    z-index: 2 !important;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    width: 200px;


}

.filterModalInput {
    width: 150px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: 0.5px solid rgb(173, 173, 173) !important;
}

.filterModalInput:focus {
    border: 0.5px solid #83c4f9;
}

.closeFilterModal {
    padding: 1.5px 3px;
    font-size: 13px;
    color: #ffffff;
    background-color: rgb(87, 171, 2);
    border-radius: none;
    border: none;

}

.closeFilterModal:hover {
    background-color: rgb(1, 77, 100);
    color:rgb(255, 255, 255);
}

.transparentBg {
    background: transparent !important;
    z-index: 1 !important;
    position: absolute !important;
    height: 1500px;
    width: 2600px;
    left: -1000px !important;
    right: 0px !important;
    top: -500px !important;
    bottom: 0 !important;
}

/*Header-buttons*/



.theadBtn {
    border: none;
    background-color: transparent;
    /* margin-bottom: 10px; */
    font-size: 16px;
    padding: 5px 0 0 4px;
    max-height: 16px;
}

.theadBtn:hover {
    color:rgb(255, 255, 255);
}

.columnFilter__filterBtn {
    padding-bottom: 8px;
}

/*Tabel generelt*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}



.topRow tr{
    width: 100%;
}

thead th {
    padding: 5px 15px 0 12px;

}

thead th:hover {
    background-color: #d0cb91;
}

thead {
    position: sticky;
    top: 0;
    padding-top: 20px;
}

thead tr {
    /* position: sticky;
    top: 0;
    padding-top: 20px; */
    background-color: #e8e2a1;
    border: 1px solid rgb(192, 192, 192);
    /* border-top: 1px solid rgb(183, 183, 183); */

}



.columnThDiv__headerText {
    padding: 2px 0 0 0;
}





/* tbody {
    margin-top: 150px !important;
    
} */

thead tr th:nth-child(1) {
    border-right: 1px solid rgb(192, 192, 192);
    padding-left: 2vw;
    
}

.counterDiv {
    height: 50px;
    width: 100vw;
    background-color: #ffffff;
    padding: 15px 20px 0 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: none;
    position: fixed;
    bottom: -1px;
    left: 0;
    margin: 0;

}

thead tr th:nth-child(3) {
    border-right: 1px solid rgb(192, 192, 192);
    padding-top: 1px;
    padding-right: 4px;
    order: 1;
}

tbody tr td:nth-child(1) {
    border-right: 1px solid rgb(221, 221, 221);
    padding-left: 2vw;
    order: 2;
    display: block !important;
    
}

tbody tr td:nth-child(3) {
    border-right: 1px solid rgb(221, 221, 221);
}


thead tr th:nth-child(1) div button {
    display: none;
}

thead tr th:nth-child(3) div button {
    display: none;
}

.SelectedRow {
    background-color: rgb(206, 231, 255);
}

.GroupedRow {
    background-color: #f1eeca;
}






/*columnTH*/



.columnThDiv {
    display: flex;
    justify-content: left;
    padding-right: -8px;
}

.columnThDiv__headerText {
 font-size: 14px;
}

.expandedTr {
    background-color: aquamarine;
}

/*Table body*/

tbody tr {
    border: 1px solid rgb(221, 221, 221);
    
    background-color: #ffffff;
    
}

tbody tr:hover {
    background-color: rgb(240, 251, 243);
}

tbody td {
    padding: 15px 10px;
    font-size: 15px;
}











@media screen and (max-width: 1350px) {
    thead th {
        padding: 10px 10px 0 8px;
    
    }

    .columnThDiv__headerText {
        font-size: 12px;
    }

    tbody td {
        padding: 12px 8px;
        font-size: 13px;
    }

    .columnThDiv__headerText {
        padding: 3px 0 0 0;
    }
}

@media screen and (max-width: 1150px) {
    thead th {
        padding: 10px 8px 0 6px;
    
    }

    .columnThDiv__headerText {
        font-size: 11px;
    }

    tbody td {
        padding: 10px 6px;
        font-size: 11px;
    }


}

@media screen and (max-width: 1050px) {
    thead th {
        padding: 10px 4px 0 4px;
        
    
    }

    .columnThDiv__headerText {
        font-size: 11px;
    }

    tbody td {
        padding: 5px 3px;
        font-size: 11px;
        
    }
}



